$footer-bg-color: #283149; // Color de fondo azul oscuro
$footer-text-color: #f7f7f7; // Color de texto blanco
$footer-text-secondary-color: #ccc; // Color de texto gris claro

.footer {
    background-color: $footer-bg-color;
    color: $footer-text-color;
    padding: 30px;
    font-size: 14px;
    line-height: 1.6;

    .logo {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .subtitle {
        color: $footer-text-secondary-color;
        margin-bottom: 20px;
    }

    .column-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;

        .column {
            width: auto;
            margin-bottom: 10px;

            h3 {
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .rights-reserved {
        color: $footer-text-secondary-color;
        display: flex;
        justify-content: space-between;
    }
}